@charset "utf-8";

/*Reset*/
@import 'http://www.samkgo.com/training/edX/css-introduction/css/normalize.css';
/* Change all elements to use border-box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*******/

body {
	font-family: "ff-meta-web-pro", sans-serif;
	background-image: url(http://www.samkgo.com/training/edX/css-introduction/images/birthday-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


#animation {
	display: flex;
	flex-flow: nowrap;
	justify-content: center;
}
#animation1 {
	position: absolute;
	z-index: 10;
	width: 900px;
	display: flex;
	flex-flow: nowrap;
	justify-content: center;
}
#animation2 {
	z-index: 20;
}
canvas {
	border: 0px solid black;
}
